:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body, #app{
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}